# wm encrypted secrets
.dec

# Folders
/target/
/test-output/
/data-output/
/.idea/
/_idea/
/allure-results/
/logs/
/reports/
/true/

# Settings
runConfiguration.properties
*.project
.DS_Store
TestXML/.DS_Store
QASeleniumTestNG.iml
WMSeleniumTestNG.iml
custom.xml
sessionCache